*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   
    background-color: #040D12;
}
div{
    width: 40%;
    margin-top: -4px;
    margin-left: 29%;
}
img{
    background-size: contain;
    object-fit: cover;
    object-position: fill;
    width: 100%;
    border-radius: 20px;
    transition: transform .4s;
}
img:hover{
    transform: scale(1.2);
}
#container{
    border: 2px solid #f9004d;
    text-align: center;
    border-radius: 12px;
    width: 150px;
    padding: 10px;
    margin-left: 84%;
    transition: transform .4s;
}
#container:hover{
    transform: scale(1.2);
}
#back{
    color: #f9004d;
    font-size: 30px;
    text-decoration: none;
}
i{
    font-size: 30px;
    color: white;
}
h3{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}